body {
  margin: 0;
  padding: 0;
  font-family: "Century Schoolbook L", Helvetica, Arial, sans-serif;
  color: #ffffff;
  background-color: #000000;
}

/*
 * Formatting the header area
 */
header {
  background-color: #242424;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}

header h1.logo {
  margin: 0;
  font-family: "Accanthis ADF Std";
  font-size: 1.7em;
  color: #ffffff;
  text-transform: uppercase;
  float: left;
}

header h1.logo:hover {
  color: #792eff;
  text-decoration: none;
}

/*
 * Centering the body content
 */
.container {
  width: 800px;
  margin: 0 auto;
  background-color: #000000;
}

input{
  width: 100%;
  padding: 10px;
  margin: 10px auto;
  color: #ffffff;
  box-sizing: border-box;
  background-color: #75715e;
  border: 2px #f92672;
  border-style: outset;
  border-radius: 10px;
}

input:focus{
  border: 2px #a6e22e;
  border-style: solid;
  border-radius: 10px;
}
input[type=submit]:hover{
  border: 2px #792eff;
  border-style: solid;
  border-radius: 10px;
  color: #a6e22e;
  background-color: #000000;
}

div.home, div.about, div.results {
  padding: 10px 10px 30px 10px;
  background-color: #242424;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.about-text {
  padding: 1rem 1rem 1rem 1rem;
  width: 100%;
  background-color: #b3ffcc;
  border-radius: 6px;
}

.about-text p {
  font: small-caps bold 1.3rem sans-serif;
  text-align: center;
}

h1 {
  font-size: 3em;
  margin-top: 20px;
  text-align: center;
  letter-spacing: -1px;
}

h2 {
  font-size: 1.5em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}

p {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  letter-spacing: normal;
  color: #00000;
}

h3 {
  font-size: 1em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}

/*
* Formatting links
*/
a:link {
  color: green;
}

a:visited {
  color: hotpink;
}

a:hover {
  color: violet;
  text-decoration: underline;
}

a:active {
  color: #66D9EF;
  text-decoration: underline;
}

.menu {
  float: right;
  margin-top: 8px;
}

.menu li {
  display: inline;
}

.menu li+li {
  margin-left: 35px;
}

.menu li a {
  color: #ffffff;
  text-decoration: none;
}

.menu li a:hover {
  color: #792eff;
  text-decoration: none;
}
