<!DOCTYPE html>
<html>

<body>
  {% extends "layout.html" %}
  {% block content %}
  <div class="about">
    <h1>About this Page</h1>
    <div class="about-text">
      <p>This page was made for assessment as part of the course "ESA423 : Cosmology". Ideas from
        <a href="https://ui.adsabs.harvard.edu/abs/2006PASP..118.1711W/abstract">
          Ned Wright's original</a>.
        This is just a modern take on the same, using Python and the Flask framework for light, flexible webpages.</p>
    </div>
  </div>
  {% endblock %}
</body>

</html>
