<!DOCTYPE html>
<html>

<body>
  {% extends "layout.html" %}
  {% block content %}
  <div class="home">
    {{ errors }}
    <h1 align='center'> The Calculator </h1>
    <p align='center'>Enter the values, hit a button:</p>
    <form method="post" action=".">
      <p>z: <input name="redshift" /></p>
      <p>Hubble's Constant: <input name="hubblepar" /></p>
      <p>Omega_m: <input name="omega_m" /></p>
      <p><input type="submit" value="Do calculation" /></p>
    </form>

    <hr>

    <div class="results">
      <h1>Results</h1>
      <p>The results are as follows:</p>
      {{ table|safe }}
      <p> <a href="/"> Click here to calculate again </a></p>
    </div>
    {% endblock %}
  </div>
</body>

</html>
