<!DOCTYPE html>
<html>

<body>
  {% extends "layout.html" %}
  {% block content %}
  <div class="home">
    <b>
      {{ errors }}
    </b>
    <h1 align='center'> The Calculator </h1>

    <p align='center'>Enter the values, hit a button:</p>
    <form method="post" action=".">
      <p><var>z</var> &dArr;<input name="redshift" /></p>
      <p><var>H<sub>0</sub></var> &dArr; <input name="hubblepar" /></p>
      <p><var>&Omega;</var><sub>m</sub></var> &dArr; <input name="omega_m" /></p>
      <p><input type="submit" value="Calculate!" /></p>
    </form>

    <hr>

    <div class="results">
      <h1>The Results</h1>
      <p align='center'>The results are as follows:</p>
      {{ table|safe }}
      <p align='center'> <a href="/"> Click here to calculate again </a></p>
    </div>
    {% endblock %}
  </div>
</body>

</html>
